player-connection-mode=Listen
player-connection-guid=33455517
player-connection-debug=1
player-connection-project-name=MyLab
player-connection-ip=192.168.50.147
player-connection-ip=192.168.127.1
player-connection-ip=192.168.204.1
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=9c8fb5db084e417192f38325cb4f4d71
